/* =========== Default ===========*/
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
}
/* =========== Top Box =========== */
.top-box {
    background-color: rgb(17, 33, 48);

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 100px;

    /* width: 100%; */
    min-height: 500px;
}
.the-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    width: 75%;
    max-width: 900px;
    margin-top: 8px;
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: cyan;
}
.header-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: cyan;
}
.top-box-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    width: 75%;
    max-width: 900px;
    margin-bottom: 20px;
}
.top-box-content-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 6px;

    max-width: 350px;
    max-height: 200px;
    margin: 0;
}
.p1 {
    font-size: 28px;
    font-weight: 700;
    color: cyan;

    margin: 0;
}
.p2 {
    font-size: 16px;
    color: #D9E1E8;

    margin: 0;
}
.btn-signup {
    background-color: #3882F6;
    color: #D9E1E8;
    font-size: 16px;
    font-weight: 700;
    max-width: 120px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.btn-signup:hover {
    background-color: #1f61f1;
}
.nebula {
    width: 100%;
    max-width: 400px;
    height: auto;
}
/* =========== Second Box =========== */
.second-box {
    background-color: rgb(247, 250, 253);

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    /* width: 100%; */
    min-height: 380px;
}
.second-box-title {
    font-size: 26px;
    font-weight: 700;
    color:rgb(17, 33, 48);

    margin-top: 36px;
    margin-bottom: 36px;
}
.info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;

    width: 100%;
    max-width: 800px;
    padding: 8px;
    margin: 0 16px;
}
@media (max-width: 600px) { /* ép 4 card thành 1 cột trên mobile */
    .info-list {
        flex-direction: column;
        align-items: center;
    }
}
.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.card-img {
    width: 120px;
    height: 120px;

    border: 3px solid #1f61f1;
    border-radius: 16px;
}
.subtext {
    text-align: center;
    text-wrap: wrap;
    color:rgb(17, 33, 48);

    max-width: 150px;
    margin: 0;
}
/* ============ Third Box ============ */
.third-box {
    background-color: rgb(222, 225, 229);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 380px;
}
.third-box-text {
    display: flex;
    flex-direction: column;

    margin: 16px;
}
.quote {
    font-size: 26px;
    font-weight: 200;
    font-style: italic;
    text-align: justify;
    text-wrap: wrap;
    color: rgb(27, 58, 86);
   
    margin: 8px;
    max-width: 600px;
}
.quote-author {
    font-size: 18px;
    font-weight: 600;
    align-self: flex-end;
    color:rgb(17, 33, 48);

    margin: 8px;
}
/* ============ Fourth Box ===========*/
.fourth-box {
    background-color: rgb(247, 250, 253);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 320px;
}
.blue-box {
    background-color: #3882F6;
    border-radius: 6px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;

    width: 70%;
    max-width: 900px;
    box-sizing: border-box;

    margin: 16px;
}
.blue-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}
.signup-invite {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-wrap: wrap;
    margin: 0;
}
.signup-info {
    color: #D9E1E8;
    font-size: 16px;
    text-wrap: wrap;
    margin: 0;
}
.btn-signup-2 {
    background-color: #3882F6;
    color: #f4f7f9;
    font-size: 16px;
    font-weight: 600;
    max-width: 120px;
    padding: 6px 24px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    transition: color 0,5s ease;
}
.btn-signup-2:hover {
    background-color: #f0f2f8;
    color: #3882F6;
    border: 2px solid #1d72fb;
}
footer {
    background-color: rgb(13, 24, 35);
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 80px;

    color: white;
}