body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
.top-box {
    color: white;
    background-color: rgb(17, 33, 48);

    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: column wrap;

    width: 100%;
    height: 535px;
    padding: 12px 0;
}
.the-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 75%;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 100px; 
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: cyan;
}
.header-link {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 60%;
}
a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: cyan;
}
.top-box-content {
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    gap: 40px;

    width: 75%;
    max-height: 200px;
}
.top-box-content-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 6px;

    max-width: 350px;
    max-height: 200px;
    margin: 0;
}
.p1 {
    font-size: 28px;
    font-weight: 700;
    color: cyan;

    margin: 0;
}
.p2 {
    font-size: 16px;
    color: #F9FAF8;

    margin: 0;
}
.btn-signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 400;
    max-width: 120px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}
.btn-signup:hover {
    background-color: #1f61f1;
}
.nebula {
    flex: 1;
    max-width: 400px;
    height: 200px;
}